<div id="AssistantPaymentRequestAcceptPage"
  data-assistant="<%= @assistant.to_json %>"
  data-users_assistant="<%= @users_assistant.to_json %>"
  data-payment_request="<%= @payment_request.to_json %>">
</div>

