<div class="large-text">Hi,</div>

<div class="space2"></div>
<div class="text">
You have been invited to Bookclicker by <%= @invite.pen_name %>.  You can create your free virtual assistant account using the link below.
</div>


<div class="space2"></div>

<div class="bclick-email-actions">
  <div class="bclick-email-action">
    <a href="<%= @invite.accept_invite_link %>" target="_blank" class="bclick-mailer-orange-button">Create Virtual Assistant Account</a>
  </div>
</div>

<div class="space2"></div>

<div class="text">
  Bookclicker
</div>



