<% if @user.first_name.present? %>
  <div class="large-text">Hello <%= @user.first_name.titleize %>,</div>
<% else %>
  <div class="large-text">Hello,</div>
<% end %>

<div class="space2"></div>
<div class="text">
  Use the link below to reset your Bookclicker password
</div>
<div class="space2"></div>

<div class="bclick-email-actions">
  <div class="bclick-email-action">
    <a href="<%= @reset_password_link %>" class="bclick-mailer-orange-button">Reset Password</a>
  </div>
</div>

<div class="space2"></div>