<br><br>
<div id="tos" lang="en-US" link="#0000ff" vlink="#800000" dir="ltr"><p align="center" style="text-align: center; margin-bottom: 0in; line-height: 100%">
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000">&nbsp;</font></p>
<p align="center" style="text-align: center; margin-bottom: 0in; line-height: 100%"><font color="#3a3a3a"><font face="Arial, serif"><font size="6" style="font-size: 50pt">Acceptable Use Policy</font></font></font></p>
<br><br>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#333333">&nbsp;</font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">The
actions individual members take can have a big impact on our system
as a whole. That is why all Bookclicker.com users must follow this
Acceptable Use Policy in their use of our products or add ons. If you
violate this policy, we may suspend or terminate your account. We may
also suspend or terminate accounts according to our Terms and
Conditions where we see behavior, content, or other factors that
pose a threat to our system.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#333333"><font face="Arial, serif"><font size="6" style="font-size: 30pt">Rules
and Conduct of Useage</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Bookclicker.com
provides communication channels, such as chat areas (&quot;Communication
Channels&quot;) designed to enable you to communicate with other
Service users. Bookclicker has no obligation to monitor these
communication channels but it may do so in connection with providing
the Service. The Company may also terminate or suspend your access to
any Communication Channels at any time, without notice, for any
reason. You acknowledge that any user content (including without
limitation chats, postings, or materials posted by users) on the
Communication Channels is neither endorsed nor controlled by us.
Bookclicker will not under any circumstances be liable for any
activity within Communication Channels. Bookclicker is not
responsible for information that you choose to share on the
Communication Channels, or for the actions of other users. As a
condition of your use of the Service, and without limiting your other
obligations under these Terms, you agree to comply with the
restrictions and rules of use set forth in these Terms and our
Community Guidelines as well as any additional restrictions or rules
(such as application-specific rules) set forth in the Service. As an
example, you agree not to use the Service in order to:</font></font></font></p>
<p style="margin-left: 0.15in; margin-top: 0.11in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">post,
upload, transmit or otherwise disseminate information that is
objectionable as outlined in our Community Guidelines;</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">defame,
dox, libel, ridicule, mock, stalk, threaten, harass, intimidate or
abuse anyone;</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">engage
in conduct that is fraudulent or illegal or otherwise harmful to
Bookclicker or any other user;</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">upload
or transmit (or attempt to upload or transmit) files that contain
viruses, Trojan horses, worms, time bombs, cancelbots, corrupted
files or data, or any other similar software or programs or engage in
any other activity that may damage the operation of the Service or
other users' computers;</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">violate
the contractual, personal, intellectual property or other rights of
any party including using, uploading, transmitting, distributing, or
otherwise making available any information made available through the
Service in any manner that infringes any copyright, trademark,
patent, trade secret, or other right of any party (including rights
of privacy or publicity);</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">attempt
to obtain passwords or other private information from other members;</font></font></font></p>
<p style="margin-left: 0.15in; margin-bottom: 0in; line-height: 200%">
<font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">improperly
use support channels or complaint buttons to make false reports to
us;</font></font></font></p>
<p style="margin-top: 0.21in; margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="2" style="font-size: 10pt">These
rules of use are not meant to be exhaustive, and we reserve the right
to determine what conduct we consider to be a violation of the Terms,
Community Guidelines or improper use of the Service and to take
action, including termination of your Account and exclusion from
further participation in the Service.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#333333"><font face="Arial, serif"><font size="6" style="font-size: 30pt">Prohibited
Content</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Do
not use Bookclicker.com to send anything offensive, to
promote anything illegal, or to harass anyone. You may not send:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Emails
offering to sell illegal goods or services</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Emails
that violate CAN-SPAM Laws</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Escort
and dating services</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Pharmaceutical
products</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Work
from home, make money online, and lead generation opportunities</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Gambling
services or products</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Multi-level
marketing</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Affiliate
marketing</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Requests
for funds outside our platform</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Requests
for work our funds based on &ldquo;need&rdquo;</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Credit
repair and get out of debt opportunities</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">List
brokers or list rental services</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Selling
&ldquo;Likes&rdquo; or followers for a social media platform</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#333333"><font face="Arial, serif"><font size="6" style="font-size: 30pt">Sending
Subject to Additional Scrutiny</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">We
may closely review, suspend, throttle, or disable accounts that offer
the following services, products, or content:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Online
trading, day trading tips, or stock market related content</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Daily
horoscope reports</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Mortgages
and loans</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Nutritional,
herbal, and vitamin supplements</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Real
estate</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Services
that support programmatically sending mail on behalf of third parties
without creating or reviewing the content</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#333333"><font face="Arial, serif"><font size="6" style="font-size: 30pt">Prohibited
Actions</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">We
work hard to maintain the positive reputation of our system, but we
count on our customers to pitch in too. You may not:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Send
bulk email without pointing to an opt-in form or showing other evidence of
consent for bulk email.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Put
into your Email or Account any material that was not created by
you, provided for you to use, or that would violate anyone&rsquo;s
rights. That includes text, photos, graphics, and other content.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Use
any misleading or incorrect names, addresses, email addresses,
subject lines, or other information on the Website or in any Emails
created or sent using our Service.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Share
your password.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Decipher,
decompile, disassemble, or reverse engineer any of the software on
our Website, or in any way used or downloaded from the Website.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Use
any of the software on our Website, or downloaded from the Website,
to create a competing product.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Use
an outside unsubscribe process when sending bulk content to a list.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Set
up multiple accounts for any person or entity in order to send
similar content, unless you&rsquo;re part of a franchise or agency.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Import
or incorporate any of this information into any lists, emails or
uploads to our servers: Social Security numbers, passwords, security
credentials, or sensitive personal information.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Send
email that will be delivered to recipients as text, SMS, or MMS
messages unless using a feature designed for that purpose.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Upload
or send to purchased, rented, third-party, co-reg, publicly available
data, or partner lists of any kind.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Send
or forward personal mail.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Host
images on our servers for any purpose other than use of our Services.</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">&middot;</font></font></font><font color="#333333"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
&nbsp; </font></font></font><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">Host
content on our servers for any purpose other than use of our
Services.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#333333"><font face="Arial, serif"><font size="6" style="font-size: 30pt">Spam
and Best Practices</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#333333"><font face="Arial, serif"><font size="2" style="font-size: 10pt">We
feel it is our responsibility to be extra vigilant about
preventing spam-related abuse. It iss also in our best interest
to keep the system clean, because our reputation depends on it.</font></font></font></p>
</div>
