<head>
<style>
  .answer{
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: "Arial", serif;
    font-size: 12pt;
  }
  .title{
    font-family: "Arial", serif;
    font-size: 40pt;
    text-align: center;
    font-style: normal;
    margin-bottom: 0px;
  } 
  
  .question{
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 100%;
    font-family: "Arial", serif;
  }
  li{
    margin-bottom: 5px;
  }
  ul{
    margin-top: 5px;
  }
  
</style>
</head>

<br><br>
<div id="faq" lang="en-US" link="#0000ff" vlink="#800000" dir="ltr" color="#333333">
  
  <p class="title">
    Frequently Asked Questions
  </p>
  <p>&nbsp;</p>
  
  <p class="question">What is Bookclicker.com?</p>
  <div class="answer">
    <p>Bookclicker.com is a marketplace that allows authors to swap, sell, and purchase newsletter spots for book promotion.</p>
  </div>
  
  <p class="question">What is the difference between a swap and paid promotion?</p>
  <div class="answer">
    <p>
A swap is when two authors agree to feature each other’s books in their respective newsletters  for free. They select send dates that are mutually beneficial and agreed upon. For example: Author A has a book release happening on January 1st. Author B has a book release happening on January 10th. With a swap, Author B can send out Author A’s book in their newsletter on January 1st in exchange for Author A sending out their book on January 10th. 
    </p>
    <p>A paid promotion is when Author A pays Author B to send their book out in their mailing list on a specific date. </p>
    <p>Users on Bookclicker.com have the ability to participate in swaps and in paid promotions.</p>
  </div>
  
  <p class="question">What are the types of promotions?</p>
  <div class="answer">
    <p>There are three different types of newsletter promotions: Solo, Feature, and Mention.</p>
    <p>
Solo – A solo promotion is when a single book is sent out in the newsletter. No other book is sent out (including those offered for free, in a giveaway, or the owner of the newsletter’s books). A solo promotion should have the book cover and the link to purchase. It can also include the book description. Authors can only offer one solo per newsletter on Bookclicker.com.
    </p>
    <p>
Feature – A feature is when a book is featured in an author’s newsletter. A feature can be sent out with the author’s own books or other books that the author has not been paid to promote. A feature promotion should have the book cover and the link to purchase. It can also include the book description. Authors can only offer one feature per newsletter on Bookclicker.com
    </p>
    <p>
Mention – A mention is when the buyer’s book is mentioned in an author’s newsletter. There can be multiple mentions per newsletter. A mention should be a hyperlink to the buyer’s book. Authors can offer up to 9 mentions per newsletter on Bookclicker.com.
    </p>
  </div>
  
  <p class="question">How do I sign up for the site?</p>
  <div class="answer">
    <p>In order to use the site, you have to have one of our integrated newsletter providers.</p>
    <ol>
      <li>Go to Bookclicker.com.</li>
      <li>Click <b>Sign up</b>.</li>
      <li>Select your newsletter provider.</li>
      <li>Log into your newsletter provider using the email and password you use to sign into your newsletter provider.</li>
      <li>Provide your API Key. If you need help finding your API Key, click the hyperlink below the API Key box. </li>
    </ol>
  </div>
  
  <p class="question">I'm signed up. Now what?</p>
  <div class="answer">
    <p>Now, you can set up your lists for swaps or for paid promotions and you can set up your pen name so you can create your book launches. In order to purchase promotions, or sell spots on your mailing list, you will need to connect to Stripe. </p>
  </div>
    
  <p class="question">How do I add my pen name?</p>
  <div class="answer">
    <ol>
      <li>Go to Bookclicker.com and log in to your account.</li>
      <li>In the top menu bar you will see a button that says <b>Pen Names</b>. Click it to open up the pen names screen.
      <li>Scroll down until you see the option <b>Add Pen Name / Promo Service</b> and click it.</li>
      <li>Under the <b>Type of Service</b>, select either Amazon Verified Pen Name, Non-Verified Pen Name, or Promo Service. 
      <ul>
        <li>An Amazon Verified Pen Name is a pen name that is verified by using the Amazon URL. Once a pen name has been verified, no other users  will be able to verify the same pen name.  However, pen names identified as Group Pen Names on bookclicker.com, can be verified by multiple users.           </li> 
        <li>A non-verified pen name is a pen name that is not verified via the Amazon URL. </li>
        <li>A Promo Service allows a user to sell or swap spots on their newsletter that is not connected to a pen name. </li>
      </ul>
      </li>
      <li>Click save to save any changes you made.</li>
    </ol>
  </div>
  
  <p class="question">How do I add a book to a pen name?</p>
  <div class="answer">
    <p>
Go to your <b>Pen Name</b> list from the menu bar and find the teal <b>Add New Book</b> button under the pen name you wish to add the book to. Fill in the book information and click <b>Save</b>.
    </p>
  </div>
    
  <p class="question">How do I connect my mailing list?</p>
  <div class="answer">
    <p>
When you signed up for Bookclicker, you integrated your mailing list. However, you still need to make sure everything is set up for you to swap and sell promotions.
    </p>
    <ol>
      <li>Once logged into Bookclicker.com, go to the Account drop down menu on the top right side of the page.</li>
      <li>Select <b>Integrations</b>. </li>
      <li>
Here, you can see which mailing lists are integrated and whether they are working. On the left hand side, you will see your current integration. On the right hand side, you can add a new mailing list integration. Follow the prompts when you select your new mailing list through the drop down menu.       </li>
      <li>Once your list is integrated, go to the top menu bar and select <b>My Lists</b>.</li>
      <li>Select the button at the top that says <b>View All Mailing List</b> to view all of your available lists.</li>
      <li>
All of the lists that are pulled from your mailing list will propagate at the bottom of the page. Here, you can select which lists you want to make available for promotions. Do this by selecting <b>For Sale</b>. This process is the same if you are swapping or selling. 
      </li>
    </ol>
  </div>
 
  <p class="question">How do I create a book launch?</p>
  <div class="answer">
  <p>
You can create a book launch  once you have your mailing list integrated, pen name set up, and book added. If you are only booking paid promotions, you do not need your own mailing list set up on the marketplace. If you are looking to engage in book swaps, you have to have your mailing list set up for swaps on the marketplace.
  </p>
    <ol>
      <li>Once logged into Bookclicker.com go to the top menu bar and select <b>Launch Center</b>. </li>
      <li>A drop down menu will appear and you can select the book for which you wish to create the book launch. </li>
      <li>
Once you select the book, on the left hand side of the page you will see the book information. On the right hand side, you will see your launch plan.
      </li>
      <li>
        Scroll down the page until you see <b>Buy Promos for this Launch</b>. Here, you can use the dropdown menu to  filter by genre to find  mailing lists that promote your book genre. 
      </li>
      <li>
If you are looking to purchase paid promotions, find the list you want to book and select the <b>Book</b> button on the right-hand side of the page. From here, you will be taken to the calendar for the mailing list.
      </li>
      <li>
Green means a date is open. Select the date and the promotion you would like to book. The different options that the seller has chosen will be listed here.
      </li>
      <li>
Once you select a promotion, a screen will expand for you to select the book you are promoting. If you selected a paid promotion you will see the price you are offering. If you selected swap, you will be able to select the list you would like to swap. Select <b>Send Offer</b> to send the offer to the user.
      </li>
      <li>
You will now see  the promotion filled in on the right hand side of the Launch page. Under <b>Status</b> it will say “pending.” When the promotion is accepted, the status will say <b>Paid</b> or <b>Swapped</b>, depending on which type of promotion was selected. 
      </li>
    </ol>
  </div>
  
  <p class="question">How do I confirm the promos that I sent?</p>
  <div class="answer">
    <p>
Bookclicker.com will register the sent promo on the site after a few days. Once it does, you will see a <b>Confirm Promos</b> section on the right hand side of your home page. Here, you are able to confirm by selecting the newsletter that was sent for that particular promotion. 
    </p>
  </div>
</div>
