<br><br>
<div id="tos" lang="en-US" link="#0000ff" vlink="#800000" dir="ltr"><p align="center" style="text-align: center; margin-bottom: 0in; line-height: 100%">
<font color="#3a3a3a"><font face="Arial, serif"><font size="6" style="font-size: 50pt">Terms and Conditions</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000">&nbsp;</font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Thank
you for using Bookclicker.com</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Please
read these Terms carefully. By using Bookclicker.com or signing up
for an account, you are agreeing to these Terms. This is a legal
agreement. The following definitions should help you understand this
agreement. Bookclicker is a marketplace offered through the URL
</font></font></font><font color="#0000ff"><u><a href="https://www.bookclicker.com/" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">www.bookclicker.com</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">
(the &ldquo;Website&rdquo;) that allows you to buy and sell email
newsletter promotions (the &ldquo;Service&rdquo;). Bookclicker.com is owned
and operated by Bookclicker, a United States federally
incorporated limited liability company (&ldquo;Bookclicker,&rdquo;
&ldquo;we,&rdquo; or &ldquo;us&rdquo;). Bookclicker.com has
employees, independent contractors, and representatives (&ldquo;our
Team&rdquo;). As a customer of the Service, you are a &ldquo;Member&rdquo;
according to this agreement (or &ldquo;you&rdquo;).</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">These
Terms of Use (&ldquo;Terms,&rdquo; including our </font></font></font><font color="#0000ff"><u><a href="/policies/privacy" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">Privacy
Policy</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">
and our Acceptable Use Policy) define the terms and conditions under
which you are allowed to use Bookclicker.com, and how we will
treat your account while you are a Member. If you have any
questions about our terms, feel free to contact us.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">ACCOUNT</font></font></font></p>
<br>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">1.
Eligibility</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">In
order to use Bookclicker.com, you must:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">1.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">be
at least eighteen (18) years old and able to enter into contracts;</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">2.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">complete
the registration process;</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">3.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">agree
to the Terms; and</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">4.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">provide
true, complete, and up to date contact information.</font></font></font></p>
<p style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">By
using Bookclicker, you represent and warrant that you meet all the
requirements listed above, and that you will not use Bookclicker
in a way that violates any laws or regulations. Bookclicker may
refuse service, close accounts of any users, and change eligibility
requirements at any time.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">2.
Term</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The
Term begins when you sign up for Bookclicker and continues as long as
you use the Service. Clicking the button and entering your username
means that you have officially &ldquo;signed&rdquo; the Terms. If
you sign up for Bookclicker on behalf of a company or other entity,
you represent and warrant that you have the authority to accept these
Terms on their behalf.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">3.
Closing Your Account</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
or Bookclicker.com may terminate this Agreement at any time and for
any reason by giving no notice to the other party. We may suspend our
Service to you at any time, with or without cause. We will not refund or reimburse any payments if
there is cause, such as a violation of these Terms or our
Acceptable Use Policy. Once terminated, we may permanently delete
your account and all the data associated with it, from our Website.
If you do not log in to your account for 12 or more months, we
may treat your account as &ldquo;inactive&rdquo; and permanently
delete the account and all the data associated with it, with at least 30 days notice.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">4.
Changes</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
may change any of the Terms by posting revised Terms of Use on our
Website and/or by sending an email to the last email address you gave
us. Unless you terminate your account within ten (10) days, the new
Terms will be effective immediately and apply to any continued or new
use of Bookclicker.com. We may change the Website, the Service, or
any features of the Service at any time.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">5.
Account and Password</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You&rsquo;re
responsible for keeping your account name and password confidential.
You are also responsible for any account that you have access
to, whether or not you authorized the use. You will immediately
notify us of any unauthorized use of your accounts. We are not
responsible for any losses due to stolen or hacked passwords.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">6.
Account Disputes</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
do not arbitrate disputes over who owns an account. You will not
request access to or information about an account that is not
yours, and you will resolve any account-related disputes directly
with the other party. We decide who owns an account based on the
content of the account and the contact information listed for that
account.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">7.
API Information</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The security and privacy of your data is of the utmost importance and will always be our top priority. Sensitive information such as user passwords and API keys are stored encrypted in our databases. User API keys are used solely for the purposes of listing your Platform, Open Rate, and Click Rate in the Launch Center. We will never pull or store any newsletter subscriber details from your third party newsletter lists. We will only use your API key to perform the functions required to operate our service.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">PAYMENT</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">9.
Stripe</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
use Stripe to process payments, which means your credit card details
never pass through our servers. We do, however, store the last four
digits of your credit card, as well as the expiration date. In order
to sell spots on your newsletter, you have to connect your Stripe
account. No other payment form is accepted on Bookclicker.com&rsquo;s
site. If you request users to pay you outside of Stripe, we have the
right to terminate your account. If you are purchasing spots in the
Launch Center, a valid credit card must remain on file. If your
credit card is no longer valid, we will contact you to update the
card, and your account will be suspended until you do so.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">10.
Charges for Add-Ons</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Some
features may be offered as add-ons to your Bookclicker account. If
you add-on a feature that has a charge, then you will be billed
that additional amount with each billing cycle for as long as the
add-on is active. Some add-ons may be intended for particular use
cases and may have additional terms or restrictions (&ldquo;Additional
Terms.&rdquo;) If you use an add-on in a way that violates these
Terms or the Additional Terms, then we may terminate your account.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">11.
Billing Changes</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
may change our fees at any time by posting a new pricing structure to
our Website and/or sending you a notification by email.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">RIGHTS</font></font></font></p>
<br>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">12.
Proprietary Rights Owned by Us</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
will respect our proprietary rights in the Website and the software
used to provide Bookclicker (proprietary rights include patents,
trademarks, service marks, trade secrets, and copyrights).</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">13.
Proprietary Rights Owned by You</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
represent and warrant that you either own or have permission to use
all of the material in your account, including the names you assign
to mailing lists as well as the mailing lists themselves. You retain
ownership of the materials that you upload to the Service. We may use
or disclose your materials only as described in these Terms and our
Privacy Policy.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">14.
Privacy Policy</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
may use and disclose your information according to our </font></font></font><font color="#0000ff"><u><a href="/policies/privacy" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">Privacy
Policy</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">.
Our Privacy Policy will be treated as part of these Terms.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">15.
Right to Review Your Activity</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We may view, copy, and internally distribute content related to your Bookclicker activity from your account to help us maintain platform quality, debug technical issues, and support user troubleshooting.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">RULES AND ABUSE</font></font></font></p>
<br>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">16.
General Rules</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
promise to follow these rules:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
will not violate our Acceptable Use Policy, which is part of this
Agreement. If you do, then we may suspend or terminate your account.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">17.
Reporting Abuse</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
you think anyone is violating any of these Terms, please notify us
immediately. If you think anyone has posted material that violates
any copyrights, then you can notify us.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">18.
Bandwidth Abuse/Throttling</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
may only use our bandwidth for your Bookclicker.com activity. We
provide image and data hosting only for your Bookclicker.com
activity. We may throttle your usage at our discretion.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">19.
Compliance with Laws</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
represent and warrant that your use of Bookclicker.com will comply
with all applicable laws and regulations. You are responsible
for determining whether our Services are suitable for you to use in
light of any regulations like HIPAA, GLB, EU Data Privacy &amp; Protection (GDPR) Laws, or
other laws. If you are subject to regulations (like HIPAA) and
you use our Service, then we will not be liable if our Service
does not meet those requirements. You may not use our Service
for any unlawful or discriminatory activities, including acts
prohibited by the </font></font></font><font color="#0000ff"><u><a href="https://www.ftc.gov/enforcement/statutes/federal-trade-commission-act" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">Federal
Trade Commission Act</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">,
</font></font></font><font color="#0000ff"><u><a href="https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/fair-credit-reporting-act" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">Fair
Credit Reporting Act</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">,
</font></font></font><font color="#0000ff"><u><a href="https://en.wikipedia.org/wiki/Equal_Credit_Opportunity_Act" target="_blank"><font color="#2c9ab7"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt"><span lang="en-US">Equal
Credit Opportunity Act</span></font></font></font></a></u></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">,
or other laws that apply to commerce.</font></font></font></p>
<p style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
you are located in the European Economic Area (EEA) or send to
anyone in the EEA, you represent and warrant that you comply with all
relevant regulations and laws.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">20.
United States Law</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The
Service is provided from the United States and subject to United
States law. If you are located outside the United States, the Service
will be provided in compliance with the United States trade
agreements that apply to the Service.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">LIABILITY</font></font></font></p>
<br>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">21.
Limitation of Liability</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">To
the maximum extent permitted by law, you assume full responsibility
for any loss that results from your use of the Website and the
Services, including any downloads from the Website. We and our Team
will not be liable for any indirect, punitive, special, or
consequential damages under any circumstances, even if they are
based on negligence or we have been advised of the possibility of
those damages. Our total liability for all claims made about the
Service in any month will be no more than what you paid us for the
Service the month before.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">22.
No Warranties</font></font></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">To
the maximum extent permitted by law, we provide the material on the
Website and the Service as is. That means we do not provide
warranties of any kind, either express or implied, including but not
limited to warranties of merchantability and fitness for a particular
purpose. Since people use Bookclicker for a variety of reasons, we
cannot guarantee that it will meet your specific needs.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">23.
Indemnity</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
agree to indemnify and hold us and our Team harmless from any losses,
including attorney fees that result from any claims you make that
are not allowed under these Terms due to a &ldquo;Limitation of
Liability&rdquo; or other provision. You also agree to indemnify and
hold us harmless from any losses, including attorney fees, that
result from third-party claims that you or someone using your
password did something that, if true, would violate any of these
Terms.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">24.
Attorney Fees</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
we file an action against you claiming you breached these Terms and
we prevail, we are entitled to recover reasonable attorney fees
and any damages or other relief we may be awarded.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">25.
Equitable Relief</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
you violate these Terms then we may seek injunctive relief (meaning
we may request a court order to stop you) or other equitable relief.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">26.
Subpoena Fees</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
we have to provide information in response to a subpoena related to
your account, then we may charge you for our costs. These fees may
include attorney and employee time spent retrieving the records,
preparing documents, and participating in a deposition.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">27.
Disclaimers</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
and our Team are not responsible for the behavior of any
advertisers, linked websites, or other Members.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="6" style="font-size: 30pt">FINE PRINT</font></font></font></p>
<br>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">28.
Notice to U.S. Government End Users</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The
Software and Website, including all documentation, are &ldquo;Commercial
Items,&rdquo; as that term is defined at 48 C.F.R. &sect;2.101, and
consist of &ldquo;Commercial Computer Software&rdquo; and &ldquo;Commercial
Computer Software Documentation.&rdquo; The Commercial Computer
Software and Commercial Computer Software Documentation are licensed
to U.S. Government end users:</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">1.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">only
as Commercial Items,</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">2.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">with
the same rights as all other end users, and</font></font></font></p>
<p style="margin-bottom: 0.08in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">3.</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="1" style="font-size: 7pt">
</font></font></font><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">according
to the Terms</font></font></font></p>
<p style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Published
and Unpublished rights are reserved under the copyright laws of the
United States.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">29.
Assignments</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You
may not assign any of your rights under this agreement to anyone
else. We may assign our rights to any other individual or entity at
our discretion.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">30.
Choice of Law</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The
laws of the state of Virginia, USA apply to any dispute related
to these Terms or the Service.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">31.
Force Majeure</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">We
will not be held liable for any delays or failure in performance
of any part of the Service, from any cause beyond our control. This
includes, but is not limited to, acts of God, changes to law or
regulations, embargoes, war, terrorist acts, riots, fires,
earthquakes, nuclear accidents, floods, strikes, power blackouts,
volcanic action, unusually severe weather conditions, and acts of
hackers or third-party internet service providers.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">32.
Survivability</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Even
if this Agreement is terminated, the following sections will continue
to apply: Proprietary Rights Owned by Us, Proprietary Rights Owned by
You, Compliance with Laws, Limitation of Liability, No Warranties,
Indemnity, Choice of Law, Severability, and Entire Agreement.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">33.
Severability</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">If
it turns out that a section of this Agreement is not
enforceable, then that section will be removed or edited as little as
necessary, and the rest of the Terms will still be valid.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">34.
Interpretation</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">The
fact that we wrote these Terms will not affect the way this
Agreement is interpreted.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">35.
Amendments and Waiver</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Amendments
or changes to these Terms will not be effective until we post
revised Terms on the Website. If we do not immediately take
action on a violation of these Terms, we are not giving up any
rights under the Terms, and we may still take action at some point.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">36.
No Changes in Terms at Request of Member</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Because
we have so many Members, we cannot change these Terms for any
one Member or group.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">37.
Further Actions</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">You will
provide all documents and take any actions necessary to meet your
obligations under these Terms.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">38.
Notification of Security Breach</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">In
the event of a security breach that may affect you, we will
notify you of the breach and provide a description of what happened.
If we determine, and notify you, that you need to forward all or part
of that information to anyone on your Email distribution lists,
you will promptly do so.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">39.
Notices</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Any
notice to you will be effective when we send it to the last email or
physical address you gave us or posted on our Website.</font></font></font></p>
<p style="margin-top: 0.33in; margin-bottom: 0.08in; line-height: 100%">
<font color="#000000"><font face="Arial, serif"><font size="5" style="font-size: 19pt">40.
Entire Agreement</font></font></font></p>
<p style="margin-bottom: 0.17in; line-height: 100%"><font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">These
Terms, our Privacy Policy, and Acceptable Use Policy, (all of which
are incorporated into these Terms by reference), and any additional
terms you have agreed to by turning on specific features
(&ldquo;Additional Terms&rdquo;) make up the entire agreement and
supersedes all prior agreements, representations, and understandings.
Any Additional Terms will be considered incorporated into these Terms
when you activate the feature.</font></font></font></p>
<p style="margin-top: 0.17in; margin-bottom: 0.17in; line-height: 100%">
<font color="#000000"><font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Where
there is a conflict between these Terms and the Additional
Terms, the Additional Terms will control.</font></font></font></p>
<br>
</div>
