<div id="reset-password-page">

  <div class="page-title-container">
    <div class="page-title">
      <div class="page-title-title">
        Reset Password
      </div>
    </div>
  </div>


  <div class="big-img-container">
    <img src="<%= LOGO_WITH_TEXT_URL %>"/>
  </div>

</div>