<div id="reset-password-page">
    
  <div class="page-title-container">
    <div class="page-title">
      <div class="page-title-title">
        Reset Password
      </div>
    </div>
  </div>
  
  <div class="create-user-page">
    <div class="create-user-form-container">
      
      <form class="create-user-form" method="POST" action="/reset_password_request">

        <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
        
        <label class="create-user-reset-password-label">Email Address</label>

        <div class="create-user-input reset-password-input">
          <input 
            type="email" 
            name="email" 
            required
            placeholder="Email Address" />
        </div>
      
        <div class="create-user-submit-container">
          <div class="create-user-submit">
            <input 
              type="submit" value="Get Reset Password Link" 
              class="bclick-button bclick-solid-robin-egg-blue-button bclick-no-text-transform-button" />
          </div>
        </div>

      </form>
    
    </div>
  </div>
  
</div>
