<div id="BookingCalendarPage" 
  data-list="<%= @list.to_json %>"
  data-preselected_book="<%= @preselected_book.to_json %>"
  data-current_member_user="<%= current_member_user.as_json(only: [:auto_subscribe_on_booking]).to_json %>">
</div>
