<nav id="footer">
  
  <div id="footer-content">
    
    <div id="footer-logo">
      <img class="logo" src="<%= LOGO_WITH_TEXT_URL %>"/>
      
    </div>

    <div id="footer-leftside-links-container">
      <div class="footer-links">
        <div class="footer-link">
          <a href="mailto:info@bookclicker.com" target="_top"/>Contact Us</a>
        </div>
      </div>
    </div>
  
    <div id="footer-links-container">
      <div class="footer-links">
 
        <div class="footer-link">
          <a href="/policies/faq"/>FAQ</a>
        </div>
 
        <div class="footer-link">
          <a href="/policies/terms_of_use"/>Terms Of Use</a>
        </div>
        
        <div class="footer-link">
          <a href="/policies/privacy"/>Privacy</a>
        </div>
        
        <div class="footer-link">
          <a href="/policies/cookies"/>Cookies</a>
        </div>
        
        <div class="footer-link">
          <a href="/policies/acceptable_use"/>Accepted Use</a>
        </div>
  
      </div>
    </div>
    
  </div>
  
  
</div>
